<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="bootstrap/bootstrap.css">
  <link rel="stylesheet" href="style.css">
  <title>{{ page.title }}</title>
</head>
<body>
<div class="container">
  <div class="hero-unit">
    <h1>Hello.</h1>
  </div>
  <div class='row'>
    <div class='span10'>
      {{ content }}
    </div>
    <div class='span4'><h3>About</h3></div>
  </div>
  <footer>
    <p>&copy; Costo 2011</p>
  </footer>
</div> <!-- /container -->
<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
<script src='scripts/Markdown.Converter.js'></script>
</body>
</html>