<!DOCTYPE html>
<html>

{% include head.html %}

<body>
<div class="container">
  <header class="hero-unit">
    <h1>Hello.</h1>
    <p>My name is Vincent Costel and this is my (empty) blog</p>
  </header>
  <div class='row'>
    <div class='span16'>
      {{ content }}
    </div>
  </div>
  <div class='row'>
   {% for post in site.posts limit: 5 %}
     {% unless post.is_draft %}
        
        <article class='span16'>
          <div class='page-header'>
            <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
          </div>
          <time pubdate datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date_to_string }}</time>
          {{ post.content }}
        </article>
        
      {% endunless %}
    {% endfor %}
  </div>
  <footer>
    <p>&copy; Costo 2011</p>
  </footer>
</div> <!-- /container -->

{% include analytics.html %}

</body>
</html>