<!DOCTYPE html>
<html>

{% include head.html %}

<body>
<div class="container">

      <header class="hero-unit">
         <h1>{{ page.title }}</h1>
         <p><time pubdate datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date_to_string }}</time></p>
      </header>
      <div class='row'>
         <div class='span16'>
            {{ content }}
         </div>
      </div>
  <footer>
    <p>&copy; Costo 2011</p>
  </footer>
</div> <!-- /container -->

{% include analytics.html %}

</body>
</html>