<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/bootstrap/bootstrap.css">
  <link rel="stylesheet" href="/style.css">
  <title>{{ page.title }}</title>
</head>
<body>
<div class="container">

      <header class="hero-unit">
         <h1>{{ page.title }}</h1>
         <p>{{ page.date | date_to_string }}</p>
      </header>
      <div class='row'>
         <div class='span16'>
            {{ content }}
         </div>
      </div>
  <footer>
    <p>&copy; Costo 2011</p>
  </footer>
</div> <!-- /container -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-6265117-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>